*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.team-section{
	overflow: hidden;
	text-align: center;
	background:#069370;
	padding: 45px;
}
.team-section h1{
	font-weight: bold;
	margin-bottom: 60px;
	color:white;
	text-shadow: 2px 3px red;
	font-size: 60px;
}
.border{
	display: inline-block;
	margin: auto;
	width: 160px;
	height: 3px;
	background:#3498db;
	margin-bottom: 40px;
}
.ps{
	margin-bottom: 40px;
}
.ps a{
	display: inline-block;
	margin: 0 30px;
	width: 190px;
	height: 190px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img{
	width: 100%;
	filter: brightness(100%);
	transition: 0.4s all;
}
.ps a:hover > img{
	filter: grayscale(100%);
}
.section{
	width: 600px;
	margin: auto;
	font-size: 25px;
	color:white;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section:target{
	height: auto;
}
.name{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;

}


.software{
	margin-bottom: 30px;
	margin-left: 200px;
	overflow: hidden;
	
}
.software a{
	display: inline-block;
	margin: 10px 30px;
	width: 80px;
	height: 80px;
	overflow: hidden;

}
.software a img{
	width: 100%;
	padding-top: 30px;
	overflow: hidden;
	filter: brightness(100%);
	transition: 0.4s all;
}
.software a:hover > img{
	filter:opacity(90%);
}
h2{
	text-align: center;
	font-weight: bold;
	background-color: forestgreen;
	margin-bottom: 20px;
	color:white;
	text-shadow: 1px 2px #FF0000;
	font-size: 25px;
}


.text{
	font-size: 30px;
	background-color: forestgreen;
	text-align: center;
	font-style: underline bold;
	text-shadow: 2px 3px #FF0000;
	margin-bottom: 0;
	color:white;


}

.namee{
	display: block;
	padding-top: 35px;
	color:red;
	margin-bottom: 50px;
	margin-right: 70%;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
}