
body{
	margin: 0;
	padding: 0;
	background-image: url("wp1812101-royal-enfield-wallpapers.jpg");
	overflow: hidden;
	
}




header{
	background-color: #069370;
	color: white;
	max-width: 1200px;
	margin: 0px;
	
	
}
.logo img{
	float: left;
	width: 200px;
	height: 70px;
	margin: 0;
	padding: 0;
}

nav {
	float: left;
}

nav ul{
	margin: 0;
	padding: 0;
	
}


nav ul li {
	list-style-type: none;
	margin-top: 10px;
	float: left;
	padding: 0px;
}

nav ul li a{
	display: block;
	margin: 10px;
	text-align: left;
	padding: 10px;
	text-decoration: none;
	color:white;
}

nav ul li a.active,
nav ul li a:hover
{
	background: #069370;
	color:white;
	transition: 0.5s;
	
}


.banner img{
	height: 160px;
	width: 1280px;
	margin-top: 0px;
	padding-top: 0px;

	
}

.socialmedia{
	position: absolute;
	padding-right: 1px;
	top:200px;
	padding-top: 130px;
	float: center;
	font-size: 40px;
	width: 100%;
	text-align: center;
}

.sbtn{
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: white;
	color:red;
	border-radius: 30%;
	box-shadow: 0 5px 15px -5px black;
	position: relative;
}

.sbtn i{
	line-height: 50px;
	font-size: 31px;
	transition: 0.2s linear;

}

.sbtn:hover i{
	transform: scale(0.5);
	color:#000;
	background-color: #FF5E01;
}



h1{
	text-align: center;
	color:white;
	font-size: 60px;
	margin-top: 30px;
	margin-left: 35px;
	text-shadow: 2px 3px #fff;
}




.button{
	position: absolute;
	top: 90%;
	right: 16%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 16px;
}

.btn{
	border:1px solid #fff;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
}

.btn:hover{
	background-color: #FF5E01;
	color:#000;
	
}