body {
	margin: 0;
	padding: 0;
	background-image: url("wp3095962-royal-enfield-thunderbird-350x-wallpapers.jpg");
	
}

h1 {
	text-align: right;
	display: all;
	color: red;
	padding-right: 45px;
	text-shadow: 2px 3px #FF0000;
	font-size: 50px;
	margin: 95px 0 50px;
	
}
.thunderbird1 {
	
	position: absolute;
	text-align: left;
	top: 81%;
	left:32%;
	transform: translate(-50%,-50%);
	padding: 30px;
	box-sizing: border-box;
	background: #fff;
	border-radius: 4px;
	box-shadow: 10px 5px 15px rgba(0,0,0,.5);
	display: flex;
}

.thunderbird1:hover{
	box-shadow: 10px 5px 15px red;
	
}

.thunderbird1 .thunderbird2 {
	width: 230px;
	padding-left: 0px;
	flex: 0 0 150px;

}

.thunderbird1 .thunderbird2 img{
	max-width: 100%;
	height: 20vh;
	padding-left: 0px;
	

}

.thunderbird1 .text{
	padding-left: 20px;
	font-size: 17px;
	
	font-family: serif;

}


.thunderbird1 .btn{
	font-size: 20px;
	text-decoration-line: none;
	color: red;
}